<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutorLink"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".AllKategoriActivity"
            android:exported="true" />
        <activity
            android:name=".AllTutorsActivity"
            android:exported="true" />
        <activity
            android:name=".DetailPelajaranActivity"
            android:exported="true" />
        <activity
            android:name=".ProfilTutorActivity"
            android:exported="true" />
        <activity
            android:name=".BookingActivity"
            android:exported="true" />
        <activity
            android:name=".PembayaranActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".BookedTutorActivity"
            android:exported="true" />
        <activity
            android:name=".ReviewTutorActivity"
            android:exported="true" />
        <activity
            android:name=".RoomChatActivity"
            android:exported="true" />
        <activity
            android:name=".PesanActivity"
            android:exported="true" />
        <activity
            android:name=".ProfilActivity"
            android:exported="true" />
        <activity
            android:name=".EditProfilActivity"
            android:exported="true" />


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>